.invoices-page {
  @extend %page-base;
  // paper padding x 2 + paper border x 2 + page padding x 2 + table min-width (1084px)
  min-width: 16px * 2 + 1px * 2 + 20px * 2 + 900px;

  @media (min-width: $lg) {
    min-width: 16px * 2 + 1px * 2 + 20px * 2 + 1084px;
  }
}

.invoices-page__content {
  @extend .max-content;
}

.invoices-page__paper {
  margin-bottom: 30px;
}
