.page-header {
  display: flex;
  align-items: center;
  border-left: 5px solid #ddd;
  margin-bottom: 30px;
}

.page-header__title {
  font-size: 24px;
  font-weight: 500;
  min-height: 40px;
  color: #888;
  padding: 0 1em;
  white-space: nowrap;
}

.page-header__line {
  border: none;
  background: #e2dfdf;
  flex: 1;
  min-width: auto !important;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 18px;
}
